
#formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: darkgrey;
    padding: 10px;
    
}

button:hover{
    background-color: bisque;
    scale: 1.05;
}






